[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/vise890/Desktop/chromebook2devmachine.md]
row=2
col=0

[/home/vise890/Desktop/hello_world.md]
row=1
col=0

[/home/vise890/Desktop/the_meaning_of_life.md]
row=0
col=0

