"*":
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "exception-reporting"
      "about"
      "language-csharp"
      "language-c"
      "language-less"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-php"
      "language-property-list"
      "language-sass"
      "language-ruby-on-rails"
      "line-ending-selector"
      "open-on-github"
      "package-generator"
      "welcome"
      "atom-grammar-test"
      "autocomplete-css"
      "autoflow"
      "bookmarks"
      "language-java"
      "styleguide"
      "Hydrogen"
    ]
    themes: [
      "one-dark-ui"
      "nord-atom-syntax"
    ]
  editor:
    fontFamily: "Ubuntu Mono"
    fontSize: 18
    invisibles: {}
    scrollPastEnd: true
  tabs:
    enableVcsColoring: true
  "trailing-spaces": {}
  "vim-mode-plus":
    ignoreCaseForSearch: true
    incrementalSearch: true
    useSmartcaseForSearch: true
    useSmartcaseForSearchCurrentWord: true
  welcome:
    showOnStartup: false
