"*":
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "exception-reporting"
    ]
  editor:
    fontFamily: "Ubuntu Mono"
    fontSize: 18
    invisibles: {}
    scrollPastEnd: true
  tabs:
    enableVcsColoring: true
  welcome:
    showOnStartup: false
