[Desktop Entry]
Version=1.0
Type=Application
Name=Skippy
Comment=Show all windows
Exec=skippy-xd
Icon=plugin-scale
Path=
Terminal=false
StartupNotify=false
