* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: JetBrains Mono Nerd Font, FontAwesome, Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 11px;
}

window#waybar {
  background-color: rgba(43, 48, 59, 0.7);
  border-bottom: 3px solid rgba(100, 114, 125, 0.7);
  transition-property: background-color;
  transition-duration: 0.5s;
  color: rgb(193, 197, 215);
}

window#waybar.hidden {
  opacity: 0.2;
}

button {
  color: rgb(193, 197, 215);
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #00ff99;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
}

#workspaces button.active {
  font-weight: bolder;
  box-shadow: inset 0 -3px #00ff99;
}

#workspaces button.urgent {
  font-weight: bolder;
  color: #595959;
  background-color: #ffa500;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
  padding: 0 5px;
}

/* first of icon only to the left, icon to icon */
#idle_inhibitor {
  padding: 0 10px 0 5px;
}

#window,
#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#power-profiles-daemon {
  padding-right: 15px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  color: #595959;
  background-color: #ffa500;
}
