[Unit]
Description=Mailbox syncronization timer for user %u

[Timer]
# Start mbsync every 2 minutes
OnCalendar=*-*-* *:00/02:00
Persistent=true
Unit=mbsync.service

[Install]
WantedBy=timers.target
