[Desktop Entry]
Version=1.0
Type=Application
Name=Show All Windows
Comment=
Exec=skippy-xd
Icon=preferences-system-windows
Path=
Terminal=false
StartupNotify=false
